@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Not Ready</h1>
<h2>The selected function was empty. Try populating by registering some sales or shipments first, then try again.</h2>

