@model ShopatBanaturalPortal.Models.InventoryItem

@{
    ViewBag.Title = "Edit";
}

<h2>Pending...</h2>
Not Active
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
